.App {
  text-align: center;
}

.box {
  width: 120px;
  height: 50px;
  text-align: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.tab-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  cursor: pointer;
}

footer {
  padding: 20px 0px;
  margin: 10px 0px;
  font-size: 10px;
  border: 1px solid lightgray;

  position: static;
  bottom: 0;
  width: 100%;
}